@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

section,
[id] {
  scroll-margin-top: 80px;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-[#0B1120] dark:text-slate-200 transition-colors duration-300;
}
